<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body class="shadow">

  <header class="header shadow">
    
    <h1>Welcome to Steam - Who Owns What</h1>

    <p>To see your own games simply enter your Steamid number into the the specified box and hit the Find Us Some Games button.<br><br> To compare to your friends simply input your Steamid number into the specified box and the additional accounts Steamid's into the subsequent boxes on the right hand side then click on the Find Us Some Games button</p>

    <!-- <nav class="nav">
      <ul>
        <li><%=link_to 'Home', root_path, :class => 'btn' %></li>
      </ul>
    </nav> -->

  </header>

  


  <form action="/results" method="GET">
    <div class="make_it_so_button shadow" id="submit">
      <button type="submit" class="shadow">Find Our Games!</button>

      <div class="main_form">
        <div class="name_field shadow front_page_field">
          <h2><label for="steamid1">1st Steam Id Number</label>
          <input type="text" id="steamid1" name="steamid1" class="shadow2 input_box"></h2>
        </div><br>
        <div class="name_field shadow front_page_field">
          <h2><label for="steamid2">2nd Steam Id Number</label>
          <input type="text"  id="steamid2" name="steamid2" class="shadow2 input_box"></h2>
        </div><br>
        <div class="name_field shadow front_page_field">
          <h2><label for="steamid3">3rd Steam Id Number</label>
          <input type="text" id="steamid3" name="steamid3" class="shadow2 input_box"></h2>
        </div><br>
      </div>
    </div>
  </form>
  

</body>
</html>